@import 'skeleton';

/* Variables
---------------------------------- */

// Breakpoints
$mobile: 400px;
$phablet: 550px;
$tablet: 750px;
$desktop: 1000px;
$larger: 1200px;

/* Layout
---------------------------------- */

.intro {
	width: 100%;
	height: 100vh;
	overflow: auto;
	text-align: center;

	.branding {
		margin-top: 20%;
	}

	.description {
		margin-top: 4.5em;
	}

	.invite {
		display: block;
		position: absolute;
		bottom: 1.5em;
		width: 5rem;
		left: 50%;
		margin-left: -2.5rem;

		path {
			fill: #fff;
		}
	}
}

@media screen and (min-width: $tablet) {
	.about {
		padding: 50px 0 0 0;
	}
	.day {
		padding: 35px 0 0 0;
	}
}

/* Modules
---------------------------------- */

section {
	display: block;
	padding: 15px 0;

	h1, h2, h3, h4, h5 {
		font-family: 'Marcellus SC', serif;
	}

	.section-title {
		@extend h4;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}
}

	.intro {
		width: 100%;
		height: 100vh;
		background: #333;

		.title {
			font-family: 'Marcellus SC', serif;
			font-size: 2.6rem;
			color: #fff;
		}

		.subtitle,
		.description {
			font-family: sans-serif;
		}

		.subtitle {
			@extend h5;
			font-family: sans-serif;
			font-weight: 400;
			color: #fff;
		}

		.ecology,
		.society,
		.democracy {
			display: inline-block;
			margin-right: 1.5rem;
		}

		.description {
			font-size: 1.4rem;
			color: #fff;
		}

		.invite {
			-webkit-animation: font-weight-change 1s 1;
			animation: font-weight-change 1s 1;
			-webkit-animation-delay: 1s;
	        animation-delay: 1s;
		}

		@media screen and (min-width: $tablet) {
			.title {
				font-size: 4.5rem;
			}
			.subtitle {
				font-size: 3rem;
			}
			.description {
				font-size: 2rem;
			}
			.invite {
				font-size: 2em;
			}
		}

	}

	section.day .section-title {
		font-weight: 500;
	}

	section.panel {

		> header {
			text-align: center;

			.panel-number {
				display: block;
				width: 100%;
				margin: 0 0 0.5rem 0;
				text-align: left;
				font-size: 2.6rem;
				font-weight: 900;
			}

			.panel-title {
				@extend h4;
				margin: 0;
			}
			.panel-subtitle {
				@extend h5;
			}
		}

		article.lecture {

			header .speaker-info {
				font-size: 1em;
			}

			header .lecture-title {
				@extend h5;
				margin: 0 0 0.5rem 0;
				font-weight: 400;
				font-style: italic;
			}

			.lecture-video {
				width: 100%;
				height: auto;
				margin: 0;
				@media screen and (min-width: $tablet) {
					height: 36rem;	
				}
	section.speaker-bios {

		> h1 {
			font-size: 2.25em;
			margin: 1em 0;
		}

		.background {
			position: absolute;
			width: 200%;
			margin-left: -50%;
			height: 500px;
			background-color: #F9FAEA;
			z-index: -1;
		}

		@media screen and (min-width: $tablet) {

			.bios {
			  display: -webkit-box;
			  display: -webkit-flex;
			  display: -ms-flexbox;
			  display: flex;
			  -webkit-flex-wrap: wrap;
			      -ms-flex-wrap: wrap;
			          flex-wrap: wrap;
			    margin-right: 32px;

			  .bio {
			    -webkit-box-flex: 1;
			    -webkit-flex: 1;
			        -ms-flex: 1;
			            flex: 1;
			    min-width: 45%;
			    margin-right: 32px;
			    margin-right: 2rem;
			  }
			}

		}

	}


/* Animations
---------------------------------- */

@-webkit-keyframes color-change {
  0% { color: #1EAEDB; }
  50% { color: #AEDB1E; }
  100% { color: #1EAEDB; }
}

@-webkit-keyframes font-weight-change {
  0% { font-weight: 400; font-size: 100%;}
  50% { font-weight: 900; font-size: 125%; }
  100% { font-weight: 400; font-size: 100%; }
}

@keyframes font-weight-change {
  0% { font-weight: 400; font-size: 100%;}
  50% { font-weight: 900; font-size: 125%; }
  100% { font-weight: 400; font-size: 100%; }
}

@media screen and (min-width: $tablet) {
	@-webkit-keyframes font-weight-change {
		0% { font-weight: 400; font-size: 2em;}
	  50% { font-weight: 900; font-size: 2.7em; }
	  100% { font-weight: 400; font-size: 2em; }
	}
	@keyframes font-weight-change {
	  0% { font-weight: 400; font-size: 2em;}
	  50% { font-weight: 900; font-size: 2.7rem; }
	  100% { font-weight: 400; font-size: 2em; }
	}
}
