<section class="about">
	<h1 class="section-title">About</h1>
	<p>
		We are living through a crisis of great severity, yet we lack a critical theory that could adequately clarify it. Certainly, today’s crisis is multi-dimensional, encompassing not only the official economy, including finance, but also such apparently ‘non-economic’ phenomena as global warming, ‘deficits of care’ and the hollowing out of public power at every scale. But our received theories tend to focus exclusively on the economic aspects, which they isolate from, and privilege over, the other factors.
	</p>
	<p>
		This conference seeks to promote a comprehensive, multi-dimensional understanding of the current crisis. The culmination of a five-year research project, funded by the Einstein Stiftung of Berlin, hosted by the John F. Kennedy Institute at the Free University-Berlin, and directed by Einstein Fellow Nancy Fraser, it brings together a distinguished group of international scholars to discuss the various aspects of the current crisis and the prospects for emancipatory resolution. The general aim is to promote thinking that can integrate analyses of ecological crisis, social-reproductive crisis, and political crisis with the financial and economic dimensions–all within the framework of an expanded conception of capitalist society.
	</p>
</section>